body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    background-image: url("/images/splash2.png");
    background-repeat: no-repeat;
    background-position: right -100px bottom -250px;
    background-size: 900px;
}
