@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@section style{
    <link rel="stylesheet" href="@Url.Content("~/Content/Background.css")" />
    }
<p>Use this area to provide additional information.</p>
