
@{
    ViewBag.Title = "My Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<EventFool.Domain.Models.Event>

@section style{
    <link rel="stylesheet" href="@Url.Content("~/Content/Body.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Background.css")" />
}



<div class="container" >
    <h1 class="mt-5 mb-5 text-center">My Events</h1>
    <div class="row  justify-content-center">
        <div class="col-6">
            <div class="p-5 bg-white border-white shadow rounded-3">
                <h2>Created events</h2>
                <p>In this section you will find all the events you created in the past as well as those taking place on a future date. You are given the option to edit the profile of any future event that you have already created. </p>
                @Html.ActionLink("See created events", "Created", "MyEvents", new { @class = "btn btnstyle2" })
            </div>
        </div>
        <div class="col-6">
            <div class="h-100 p-5 bg-white border-white shadow rounded-3">
                <h2>Attended events</h2>
                <p>In this section you will find all the events you attended in the past as well as those you plan to attend on a future date.</p>
                @Html.ActionLink("See attended events", "Attended", "MyEvents", new { @class = "btn btnstyle2" })
            </div>
        </div>
    </div>
    
</div>
